{{!< layout}}
<script type='text/javascript' src='/dist/bundled.multiExcerpt.page.js'></script>
<div>
  {{#if body}}
    {{{body}}}
  {{else}}
    Here is a preview of your macro!
  {{/if}}
</div>
<div id='multiExcerpt'>
</div>